In [9]:
import requests
import lxml.html
import bs4

import numpy as np
import pandas as pd

In [10]:
USER_AGENT = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36'
LOGIN_URL = 'https://www.placement.iitbhu.ac.in/accounts/login'
COMPANY_URL = 'https://www.placement.iitbhu.ac.in/company/calendar'
USERNAME = 'sartaj.singh.apm13@itbhu.ac.in'
PASSWORD = 'Superkid@123'

In [12]:
def make_login_form(session, username, password):
    login = session.get(LOGIN_URL)
    login_html = lxml.html.fromstring(login.text)
    hidden_inputs = login_html.xpath(r'//form//input[@type="hidden"]')
    form = {x.attrib['name']: x.attrib['value'] for x in hidden_inputs}
    form['login'] = username
    form['password'] = password
    return form

In [13]:
session = requests.session()

In [14]:
form = make_login_form(session, USERNAME, PASSWORD)
form

{'csrfmiddlewaretoken': '7ECAVHlxVbwFEY2sJBLubRlCTS9rKv3Q',
 'login': 'sartaj.singh.apm13@itbhu.ac.in',
 'password': 'Superkid@123'}

In [15]:
params = {'Referer': LOGIN_URL, 'User-Agent': USER_AGENT}
login = session.post(LOGIN_URL, data=form, headers=params)
login

In [16]:
params = {'page_size': 250}
data = session.get(COMPANY_URL, params=params)
data

In [17]:
company_data = bs4.BeautifulSoup(data.text, 'html.parser')

In [ ]:
data_mapper = {
    'updated_at': 'updated_at',
    'company_name': 'company_name',
    'profile': 'company_profile',
    'purpose': 'purpose',
    'x_percent': 'x',
    'xii_percent': 'xii',
    'cgpa': 'cgpa',
    'course': 'course',
    'dept': 'dept',
    'active_backlog': 'a_backlog',
    'total_backlog': 't_backlog',
    'ppt_date': 'ppt_date',
    'exam_date': 'exam_date',
    'interview_date': 'interview_date',
    'status': 'status',
    'branch_issue_deadline': 'branch_issue_dead',
    'willingness_deadline': 'willingness_dead'    
}

In [ ]:
clips = {
    'active_backlog': 'Active backlog allowed :'.find(':') ,
    'branch_issue_deadline': 'Branch Issues Deadline :'.find(':') + 1,
    'cgpa': 'cgpa :'.find(':'),
    'course': 'Course(s) :'.find(':'),
    'dept': 'Department(s) :'.find(':'),
    'exam_date': 'Exam Date :'.find(':'),
    'interview_date': 'Interview Date :'.find(':') ,
    'ppt_date': 'PPT Date : '.find(':'),
    'status': 'Status : '.find(':'),
    'total_backlog': 'Total backlog allowed :'.find(':'),  
    'updated_at': 'st Updated:'.find(':') + 2,
    'willingness_deadline': 'Willingness Deadline :'.find(':') + 1,
    'x_percent': 'X :'.find(':'),
    'xii_percent': 'XII :'.find(':')
}

In [142]:
def get_package_data(company_div, company):
    package = company_div.find('div', attrs={'class': 'package'})
    for tr in package.find_all('tr'):
        course, num = False, 0
        course_name = None
        for td in tr.find_all('td'):
            if course:
                if num == 0 and td.text:
                    company['{}_ctc'.format(course_name)] = td.text
                if num == 1 and td.text:
                    company['{}_home'.format(course_name)] = td.text
                if num == 1:
                    course = False
                num += 1
            if td.text.lower() in ['b.tech', 'idd/imd', 'm.tech', 'phd']:
                course, num = True, 0
                course_name = td.text.lower().replace('/', '_').replace('.', '')

In [143]:
def get_data(data_mapper):
    companies = []
    for company_div in company_data.find_all('div', attrs={'class': 'row company'}):
        company = {}
        for name, class_name in data_mapper.items():
            company[name] = company_div.find(attrs={'class': class_name}).text
        get_package_data(company_div, company)
        companies.append(company)
    return companies

In [ ]:
def clip_data(companies, clips):
    for company in companies:
        for clip_name, clip_num in clips.items():
            num = clip_num + 2
            company[clip_name] = company[clip_name][num:]
    return companies

In [ ]:
def find_depts(df):
    depts = set([])
    for value in df.dept.unique():
        for dept in value.split(' '):
            depts.add(dept)
    return depts

In [187]:
def process_df(companies):
    df = pd.DataFrame(companies)
    df.loc[:, 'active_backlog'] = df['active_backlog'].replace({'N/A': 0}).astype(np.float64)
    df.loc[:, 'total_backlog'] = df['total_backlog'].replace({'N/A': 0}).astype(np.float64)
    df.loc[:, 'cgpa'] = df['cgpa'].astype(np.float64)
    df.loc[:, 'exam_date'] = pd.to_datetime(df['exam_date'])
    df.loc[:, 'interview_date'] = pd.to_datetime(df['interview_date'])
    df.loc[:, 'ppt_date'] = pd.to_datetime(df['ppt_date'])
    df.loc[:, 'branch_issue_deadline'] = pd.to_datetime(df['branch_issue_deadline'].str.replace('|', ','))
    df.loc[:, 'updated_at'] = pd.to_datetime(df['updated_at'])
    df.loc[:, 'x_percent'] = df['x_percent'].str[:-1].astype(np.float64)
    df.loc[:, 'xii_percent'] = df['xii_percent'].str[:-1].astype(np.float64)
    df.loc[:, 'profile'] = df['profile'].replace({'': np.nan})
    df.loc[:, 'willingness_deadline'] = pd.to_datetime(df['willingness_deadline'].str.replace('|', ','))
    
    for dept in find_depts(df):
        df.loc[:, dept] = df.dept.apply(lambda x: 1 if dept in x else 0)
    
    for course in ['btech', 'idd', 'mtech', 'phd']:
        df.loc[:, course] = df.course.apply(lambda x: 1 if course in x else 0)

    df = df.drop(['dept', 'course', 'purpose'], axis=1)
    return df

In [188]:
companies = get_data(data_mapper)
clip_data(companies, clips)
df = process_df(companies)
df

,active_backlog,branch_issue_deadline,btech_ctc,btech_home,cgpa,company_name,exam_date,idd_imd_ctc,idd_imd_home,interview_date,...,met,mst,civ,cer,mat,chy,btech,idd,mtech,phd
0,0.0,2017-09-06 12:00:00,NaN,NaN,7.0,INTEL,NaT,"17,09,140","10,86,000",NaT,...,0,0,0,0,0,0,0,0,1,0
1,0.0,2017-09-20 09:00:00,NaN,NaN,0.0,DR REDDYS,NaT,NaN,NaN,NaT,...,0,0,0,0,0,0,0,0,1,0
2,0.0,2017-09-21 10:00:00,"8,40,000",NaN,0.0,Country Garden,NaT,"11,20,000",NaN,NaT,...,1,1,1,1,1,1,1,1,0,0
3,0.0,2017-09-20 10:00:00,"27,00,000","12,00,000",0.0,Amazon,2017-10-28,"27,50,000","12,50,000",NaT,...,0,0,0,0,1,0,1,1,0,0
4,0.0,2017-09-06 12:00:00,"22,02.108",NaN,7.0,VMWare,2017-10-16,"22,02.108",NaN,NaT,...,0,0,0,0,0,0,1,0,0,0
5,0.0,2017-09-20 10:00:00,NaN,NaN,7.0,Deutsche Bank,NaT,NaN,NaN,NaT,...,0,0,0,0,0,0,0,0,1,0
6,0.0,2017-09-06 12:00:00,10 to 13 Lakhs,NaN,6.0,ACCOLITE,NaT,10 to 13 Lakhs,NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
7,0.0,2017-09-20 10:00:00,"8,50,000",NaN,6.0,I Cube Nanotec,NaT,NaN,NaN,NaT,...,0,0,0,1,0,0,1,0,0,0
8,0.0,2017-09-20 10:00:00,"10,11,000",NaN,6.5,Tata Steel,NaT,NaN,NaN,NaT,...,0,0,0,1,0,0,1,0,0,0
9,0.0,2017-09-20 10:00:00,"8,00,000",NaN,0.0,CAPGEMINI,NaT,"8,00,000",NaN,NaT,...,1,1,1,1,1,0,1,1,0,0
10,0.0,2017-09-20 10:00:00,"5,50,000",NaN,7.0,Orbees,NaT,"5,50,000",NaN,NaT,...,0,0,1,0,0,0,0,1,0,0
11,0.0,2017-07-12 23:00:00,"12,40,000","8,40,000",0.0,Futures First,2017-09-23,"12,40,000","8,40,000",NaT,...,1,1,1,1,1,1,1,1,0,0
12,0.0,2017-09-21 10:00:00,NaN,NaN,0.0,Amrita University,NaT,NaN,NaN,NaT,...,0,0,1,0,0,0,0,0,0,1
13,0.0,2017-09-21 10:00:00,NaN,NaN,6.0,Mercedes Benz,NaT,"8,00,000",NaN,NaT,...,0,0,0,0,1,0,0,1,1,0
14,0.0,2017-09-18 17:00:00,"22,00,000","14,00,000",7.0,ORACLE,2017-10-24,"22,50,000","14,50,000",NaT,...,0,0,1,0,0,0,1,1,1,0
15,0.0,2017-09-18 17:00:00,"22,00,000","14,00,000",7.0,ORACLE,2017-10-24,"22,50,000","14,50,000",NaT,...,0,0,0,0,0,0,1,1,1,0
16,0.0,2017-07-10 13:00:00,"7,00,000",NaN,6.5,Virtusa,2017-10-14,NaN,NaN,NaT,...,0,0,0,0,0,0,1,1,0,0
17,0.0,2017-07-11 23:00:00,"7,78,000",NaN,8.0,Tata Consultancy Services,NaT,"10,03,000",NaN,NaT,...,1,1,0,0,1,0,1,1,1,1
18,0.0,2017-09-06 12:00:00,"9,00,000 or 7,00,000",NaN,5.0,GGK Tech,2017-09-25,"9,00,000 or 7,00,000",NaN,NaT,...,1,1,1,1,1,1,1,1,0,0
19,0.0,2017-09-19 10:00:00,23.84 lakhs,NaN,8.0,FLIPKART,NaT,23.84 lakhs,NaN,NaT,...,0,0,0,0,0,0,1,1,0,0
20,0.0,2017-09-09 10:00:00,"25,00,000",NaN,8.5,Samsung Bangalore,NaT,"26,00,000",NaN,NaT,...,0,0,0,0,0,0,1,0,0,0
21,0.0,2017-07-26 23:00:00,"20,00,000",NaN,7.5,Samsung Bangalore,NaT,"21,00,000",NaN,NaT,...,0,0,0,0,1,0,0,1,0,0
22,0.0,2017-08-23 11:00:00,"4,50,000",NaN,6.0,BRIDGEi2i,NaT,"5,00,000",NaN,NaT,...,1,1,1,1,1,1,1,1,1,0
23,0.0,2017-08-05 11:00:00,"11,20,000",NaN,7.0,EXL,2017-10-28,"11,20,000",NaN,NaT,...,1,1,1,1,1,1,1,1,0,0
24,0.0,2017-08-19 10:00:00,"19,50,000","17,00,000",7.0,Samsung Noida,2017-10-27,"19,50,000","17,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
25,0.0,2017-07-11 23:00:00,"17,00,000",NaN,6.0,Tesco,2017-09-24,"17,00,000",NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
26,0.0,2017-08-23 14:00:00,"30,00,000",NaN,0.0,ALPHONSO,2017-10-07,"30,00,000",NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
27,0.0,2017-08-05 23:00:00,"711,984","680,004",6.0,CGI,2017-10-08,"711,984","680,004",NaT,...,1,1,1,1,1,1,1,1,0,0
28,0.0,2017-07-11 23:00:00,"25,00,000","15,00,000",0.0,Media.net,2017-10-08,"25,00,000","15,00,000",NaT,...,1,1,1,1,1,1,1,1,1,0
29,0.0,2017-07-11 23:00:00,"25,00,000","15,00,000",0.0,Flock,2017-10-08,"25,00,000","15,00,000",NaT,...,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,0.0,NaT,640000,NaN,6.5,Maruti,2017-08-26,NaN,NaN,NaT,...,1,0,0,0,0,0,1,0,0,0
52,0.0,NaT,Yet to Decide,NaN,0.0,Indian Air Force,NaT,Yet to Decide,NaN,NaT,...,1,1,1,1,1,1,1,1,1,0
53,0.0,2017-07-11 23:00:00,"14,00,000","12,00,000",7.0,Dailyhunt,NaT,"14,00,000","12,00,000",NaT,...,0,0,0,0,0,0,1,0,0,0
54,0.0,2017-07-20 23:00:00,"23,00,000",NaN,7.0,MyKaarma,2017-08-26,"23,00,000",NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
55,0.0,2017-08-12 17:00:00,"7,18,800",NaN,6.0,Optum,2017-08-31,NaN,NaN,NaT,...,1,0,1,1,0,0,1,0,0,0
56,0.0,2017-07-10 13:00:00,"19,00,000","9,00,000",5.0,Smartprix,2017-08-27,"19,00,000","9,00,000",NaT,...,1,1,1,1,1,1,1,1,0,0
57,0.0,NaT,Yet to Decide,NaN,7.5,Bajaj Auto,NaT,Yet to Decide,NaN,NaT,...,0,0,0,0,0,0,1,1,0,0
58,0.0,2017-07-20 23:00:00,NaN,NaN,7.0,APPLIED MATERIAL,2017-09-07,"11,36,085","9,52,728 (Before Tax and PF Employees Contribu...",NaT,...,1,1,0,0,0,0,0,1,0,0
59,0.0,2017-08-10 13:00:00,NaN,NaN,7.0,MediaTek,NaT,NaN,NaN,NaT,...,0,0,0,0,0,0,0,0,1,0
60,0.0,2017-08-30 13:00:00,"6,00,000","5,52,000",6.0,Nagarro,NaT,"6,00,000","5.52,000",NaT,...,0,0,1,0,0,0,1,0,0,0
61,0.0,2017-09-01 11:00:00,NaN,NaN,6.0,AXTRIA,NaT,"7,80,000",NaN,NaT,...,1,1,1,1,1,1,0,1,0,0
62,0.0,2017-08-30 12:00:00,"4,50,000",NaN,6.0,BHARAT FORGE,NaT,NaN,NaN,NaT,...,0,0,0,0,0,0,1,0,0,0
63,0.0,2017-08-26 13:00:00,"11,00,000","10,00,000",0.0,Mobikwik,NaT,"11,00,000","10,00,000",NaT,...,0,0,0,0,1,0,1,1,1,0
64,0.0,2017-08-11 17:00:00,"13,50,000","12,00,000",6.0,CITI CORP,NaT,"13,50,000","12,00,000",NaT,...,1,1,1,1,1,1,1,1,0,0
65,0.0,2017-07-20 23:00:00,"11,00,000",NaN,0.0,FIDELITY,NaT,NaN,NaN,NaT,...,1,0,1,1,0,0,1,0,0,0
66,0.0,2017-08-09 13:00:00,17 lakhs,NaN,8.0,EDGEVERVE,NaT,17 lakhs,NaN,NaT,...,0,0,0,0,0,0,1,1,0,0
67,0.0,2017-08-08 12:00:00,23.84 lakhs,NaN,0.0,FLIPKART,NaT,23.84 lakhs,NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
68,0.0,2017-07-30 23:00:00,"22,38,750","12,00,000",7.0,Microsoft,NaT,"22,38,750","12,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
69,0.0,2017-07-20 23:00:00,"31,50,000","21,00,000",0.0,Goldman Sachs,NaT,"31,50,000","21,00,000",NaT,...,1,1,1,1,1,1,1,1,1,0
70,0.0,2017-07-21 23:00:00,"27,50,000","16,00,000",7.5,Myntra,NaT,"27,50,000","16,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
71,0.0,2017-07-24 23:00:00,7-9 Lakhs,Inclusive of 20% variable pay,7.5,POWER2SME,NaT,7-9.5 Lakhs,Inclusive of 20% variable pay,NaT,...,0,0,0,0,0,0,1,0,0,0
72,0.0,2017-07-11 23:00:00,2700000,2000000,0.0,NUTANIX,NaT,2800000,2100000,NaT,...,1,1,1,1,1,1,1,1,0,0
73,0.0,2017-07-20 23:00:00,"17,51,025","15,00,000",6.0,Societe Generale,NaT,"17,51,025","15,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
74,0.0,2017-07-18 23:00:00,"18,00,000","15,00,000",8.0,Swiggy,NaT,"18,00,000","15,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
75,0.0,2017-07-17 23:00:00,"8,00,000",NaN,6.0,ZEMOSO LAB,NaT,"8,00,000",NaN,NaT,...,1,1,1,1,1,1,1,1,0,0
76,0.0,2017-07-14 23:00:00,"12,00,000","9,00,000",7.5,Innoplexus,NaT,"12,00,000","9,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0
77,0.0,2017-07-14 23:00:00,"12,00,000","9,00,000",7.5,Innoplexus,NaT,"12,00,000","9,00,000",NaT,...,1,1,1,1,1,1,1,1,0,0
78,0.0,2017-07-11 23:00:00,"36,69,300","18,00,000",0.0,UBER,NaT,NaN,NaN,NaT,...,0,0,0,0,1,0,1,1,0,0
79,0.0,2017-07-11 23:00:00,"5,50,000","4,80,000",6.5,Beehyv,NaT,"5,50,000","4,80,000",NaT,...,1,1,1,1,1,1,1,1,0,0
80,0.0,2017-07-11 23:00:00,"25,00,000","22,00,000",0.0,CODENATION,NaT,"25,00,000","22,00,000",NaT,...,0,0,0,0,1,0,1,1,0,0

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 42 columns):
active_backlog           81 non-null float64
branch_issue_deadline    77 non-null datetime64[ns]
btech_ctc                69 non-null object
btech_home               32 non-null object
cgpa                     81 non-null float64
company_name             81 non-null object
exam_date                29 non-null datetime64[ns]
idd_imd_ctc              65 non-null object
idd_imd_home             35 non-null object
interview_date           0 non-null datetime64[ns]
mtech_ctc                27 non-null object
mtech_home               14 non-null object
phd_ctc                  4 non-null object
phd_home                 2 non-null object
ppt_date                 30 non-null datetime64[ns]
profile                  65 non-null object
status                   81 non-null object
total_backlog            81 non-null float64
updated_at               81 non-null datetime64[ns]
willingness_deadline     35 non-null datetime64[ns]
x_percent                81 non-null float64
xii_percent              81 non-null float64
che                      81 non-null int64
mec                      81 non-null int64
bme                      81 non-null int64
phe                      81 non-null int64
phy                      81 non-null int64
bce                      81 non-null int64
ece                      81 non-null int64
eee                      81 non-null int64
min                      81 non-null int64
cse                      81 non-null int64
met                      81 non-null int64
mst                      81 non-null int64
civ                      81 non-null int64
cer                      81 non-null int64
mat                      81 non-null int64
chy                      81 non-null int64
btech                    81 non-null int64
idd                      81 non-null int64
mtech                    81 non-null int64
phd                      81 non-null int64
dtypes: datetime64[ns](6), float64(5), int64(20), object(11)
memory usage: 26.7+ KB

In [247]:
df.to_csv('companies.csv', index=False)
pd.read_csv('companies.csv')

,active_backlog,branch_issue_deadline,btech_ctc,btech_home,cgpa,company_name,exam_date,idd_imd_ctc,idd_imd_home,interview_date,...,met,mst,civ,cer,mat,chy,btech,idd,mtech,phd
0,0.0,2017-09-06 12:00:00,NaN,NaN,7.0,INTEL,NaN,"17,09,140","10,86,000",NaN,...,0,0,0,0,0,0,0,0,1,0
1,0.0,2017-09-20 09:00:00,NaN,NaN,0.0,DR REDDYS,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
2,0.0,2017-09-21 10:00:00,"8,40,000",NaN,0.0,Country Garden,NaN,"11,20,000",NaN,NaN,...,1,1,1,1,1,1,1,1,0,0
3,0.0,2017-09-20 10:00:00,"27,00,000","12,00,000",0.0,Amazon,2017-10-28 00:00:00,"27,50,000","12,50,000",NaN,...,0,0,0,0,1,0,1,1,0,0
4,0.0,2017-09-06 12:00:00,"22,02.108",NaN,7.0,VMWare,2017-10-16 00:00:00,"22,02.108",NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
5,0.0,2017-09-20 10:00:00,NaN,NaN,7.0,Deutsche Bank,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
6,0.0,2017-09-06 12:00:00,10 to 13 Lakhs,NaN,6.0,ACCOLITE,NaN,10 to 13 Lakhs,NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
7,0.0,2017-09-20 10:00:00,"8,50,000",NaN,6.0,I Cube Nanotec,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,0,0,0
8,0.0,2017-09-20 10:00:00,"10,11,000",NaN,6.5,Tata Steel,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,0,0,0
9,0.0,2017-09-20 10:00:00,"8,00,000",NaN,0.0,CAPGEMINI,NaN,"8,00,000",NaN,NaN,...,1,1,1,1,1,0,1,1,0,0
10,0.0,2017-09-20 10:00:00,"5,50,000",NaN,7.0,Orbees,NaN,"5,50,000",NaN,NaN,...,0,0,1,0,0,0,0,1,0,0
11,0.0,2017-07-12 23:00:00,"12,40,000","8,40,000",0.0,Futures First,2017-09-23 00:00:00,"12,40,000","8,40,000",NaN,...,1,1,1,1,1,1,1,1,0,0
12,0.0,2017-09-21 10:00:00,NaN,NaN,0.0,Amrita University,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,1
13,0.0,2017-09-21 10:00:00,NaN,NaN,6.0,Mercedes Benz,NaN,"8,00,000",NaN,NaN,...,0,0,0,0,1,0,0,1,1,0
14,0.0,2017-09-18 17:00:00,"22,00,000","14,00,000",7.0,ORACLE,2017-10-24 00:00:00,"22,50,000","14,50,000",NaN,...,0,0,1,0,0,0,1,1,1,0
15,0.0,2017-09-18 17:00:00,"22,00,000","14,00,000",7.0,ORACLE,2017-10-24 00:00:00,"22,50,000","14,50,000",NaN,...,0,0,0,0,0,0,1,1,1,0
16,0.0,2017-07-10 13:00:00,"7,00,000",NaN,6.5,Virtusa,2017-10-14 00:00:00,NaN,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
17,0.0,2017-07-11 23:00:00,"7,78,000",NaN,8.0,Tata Consultancy Services,NaN,"10,03,000",NaN,NaN,...,1,1,0,0,1,0,1,1,1,1
18,0.0,2017-09-06 12:00:00,"9,00,000 or 7,00,000",NaN,5.0,GGK Tech,2017-09-25 00:00:00,"9,00,000 or 7,00,000",NaN,NaN,...,1,1,1,1,1,1,1,1,0,0
19,0.0,2017-09-19 10:00:00,23.84 lakhs,NaN,8.0,FLIPKART,NaN,23.84 lakhs,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
20,0.0,2017-09-09 10:00:00,"25,00,000",NaN,8.5,Samsung Bangalore,NaN,"26,00,000",NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
21,0.0,2017-07-26 23:00:00,"20,00,000",NaN,7.5,Samsung Bangalore,NaN,"21,00,000",NaN,NaN,...,0,0,0,0,1,0,0,1,0,0
22,0.0,2017-08-23 11:00:00,"4,50,000",NaN,6.0,BRIDGEi2i,NaN,"5,00,000",NaN,NaN,...,1,1,1,1,1,1,1,1,1,0
23,0.0,2017-08-05 11:00:00,"11,20,000",NaN,7.0,EXL,2017-10-28 00:00:00,"11,20,000",NaN,NaN,...,1,1,1,1,1,1,1,1,0,0
24,0.0,2017-08-19 10:00:00,"19,50,000","17,00,000",7.0,Samsung Noida,2017-10-27 00:00:00,"19,50,000","17,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
25,0.0,2017-07-11 23:00:00,"17,00,000",NaN,6.0,Tesco,2017-09-24 00:00:00,"17,00,000",NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
26,0.0,2017-08-23 14:00:00,"30,00,000",NaN,0.0,ALPHONSO,2017-10-07 00:00:00,"30,00,000",NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
27,0.0,2017-08-05 23:00:00,"711,984","680,004",6.0,CGI,2017-10-08 00:00:00,"711,984","680,004",NaN,...,1,1,1,1,1,1,1,1,0,0
28,0.0,2017-07-11 23:00:00,"25,00,000","15,00,000",0.0,Media.net,2017-10-08 00:00:00,"25,00,000","15,00,000",NaN,...,1,1,1,1,1,1,1,1,1,0
29,0.0,2017-07-11 23:00:00,"25,00,000","15,00,000",0.0,Flock,2017-10-08 00:00:00,"25,00,000","15,00,000",NaN,...,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,0.0,NaN,640000,NaN,6.5,Maruti,2017-08-26 00:00:00,NaN,NaN,NaN,...,1,0,0,0,0,0,1,0,0,0
52,0.0,NaN,Yet to Decide,NaN,0.0,Indian Air Force,NaN,Yet to Decide,NaN,NaN,...,1,1,1,1,1,1,1,1,1,0
53,0.0,2017-07-11 23:00:00,"14,00,000","12,00,000",7.0,Dailyhunt,NaN,"14,00,000","12,00,000",NaN,...,0,0,0,0,0,0,1,0,0,0
54,0.0,2017-07-20 23:00:00,"23,00,000",NaN,7.0,MyKaarma,2017-08-26 00:00:00,"23,00,000",NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
55,0.0,2017-08-12 17:00:00,"7,18,800",NaN,6.0,Optum,2017-08-31 00:00:00,NaN,NaN,NaN,...,1,0,1,1,0,0,1,0,0,0
56,0.0,2017-07-10 13:00:00,"19,00,000","9,00,000",5.0,Smartprix,2017-08-27 00:00:00,"19,00,000","9,00,000",NaN,...,1,1,1,1,1,1,1,1,0,0
57,0.0,NaN,Yet to Decide,NaN,7.5,Bajaj Auto,NaN,Yet to Decide,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
58,0.0,2017-07-20 23:00:00,NaN,NaN,7.0,APPLIED MATERIAL,2017-09-07 00:00:00,"11,36,085","9,52,728 (Before Tax and PF Employees Contribu...",NaN,...,1,1,0,0,0,0,0,1,0,0
59,0.0,2017-08-10 13:00:00,NaN,NaN,7.0,MediaTek,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
60,0.0,2017-08-30 13:00:00,"6,00,000","5,52,000",6.0,Nagarro,NaN,"6,00,000","5.52,000",NaN,...,0,0,1,0,0,0,1,0,0,0
61,0.0,2017-09-01 11:00:00,NaN,NaN,6.0,AXTRIA,NaN,"7,80,000",NaN,NaN,...,1,1,1,1,1,1,0,1,0,0
62,0.0,2017-08-30 12:00:00,"4,50,000",NaN,6.0,BHARAT FORGE,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
63,0.0,2017-08-26 13:00:00,"11,00,000","10,00,000",0.0,Mobikwik,NaN,"11,00,000","10,00,000",NaN,...,0,0,0,0,1,0,1,1,1,0
64,0.0,2017-08-11 17:00:00,"13,50,000","12,00,000",6.0,CITI CORP,NaN,"13,50,000","12,00,000",NaN,...,1,1,1,1,1,1,1,1,0,0
65,0.0,2017-07-20 23:00:00,"11,00,000",NaN,0.0,FIDELITY,NaN,NaN,NaN,NaN,...,1,0,1,1,0,0,1,0,0,0
66,0.0,2017-08-09 13:00:00,17 lakhs,NaN,8.0,EDGEVERVE,NaN,17 lakhs,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
67,0.0,2017-08-08 12:00:00,23.84 lakhs,NaN,0.0,FLIPKART,NaN,23.84 lakhs,NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
68,0.0,2017-07-30 23:00:00,"22,38,750","12,00,000",7.0,Microsoft,NaN,"22,38,750","12,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
69,0.0,2017-07-20 23:00:00,"31,50,000","21,00,000",0.0,Goldman Sachs,NaN,"31,50,000","21,00,000",NaN,...,1,1,1,1,1,1,1,1,1,0
70,0.0,2017-07-21 23:00:00,"27,50,000","16,00,000",7.5,Myntra,NaN,"27,50,000","16,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
71,0.0,2017-07-24 23:00:00,7-9 Lakhs,Inclusive of 20% variable pay,7.5,POWER2SME,NaN,7-9.5 Lakhs,Inclusive of 20% variable pay,NaN,...,0,0,0,0,0,0,1,0,0,0
72,0.0,2017-07-11 23:00:00,2700000,2000000,0.0,NUTANIX,NaN,2800000,2100000,NaN,...,1,1,1,1,1,1,1,1,0,0
73,0.0,2017-07-20 23:00:00,"17,51,025","15,00,000",6.0,Societe Generale,NaN,"17,51,025","15,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
74,0.0,2017-07-18 23:00:00,"18,00,000","15,00,000",8.0,Swiggy,NaN,"18,00,000","15,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
75,0.0,2017-07-17 23:00:00,"8,00,000",NaN,6.0,ZEMOSO LAB,NaN,"8,00,000",NaN,NaN,...,1,1,1,1,1,1,1,1,0,0
76,0.0,2017-07-14 23:00:00,"12,00,000","9,00,000",7.5,Innoplexus,NaN,"12,00,000","9,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0
77,0.0,2017-07-14 23:00:00,"12,00,000","9,00,000",7.5,Innoplexus,NaN,"12,00,000","9,00,000",NaN,...,1,1,1,1,1,1,1,1,0,0
78,0.0,2017-07-11 23:00:00,"36,69,300","18,00,000",0.0,UBER,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,1,1,0,0
79,0.0,2017-07-11 23:00:00,"5,50,000","4,80,000",6.5,Beehyv,NaN,"5,50,000","4,80,000",NaN,...,1,1,1,1,1,1,1,1,0,0
80,0.0,2017-07-11 23:00:00,"25,00,000","22,00,000",0.0,CODENATION,NaN,"25,00,000","22,00,000",NaN,...,0,0,0,0,1,0,1,1,0,0